/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.folder-suggest-dropdown {
  position: absolute;
  background: var(--background-primary, #fff);
  color: var(--text-normal, #222);
  border: 1px solid var(--background-modifier-border, #ccc);
  z-index: 1000;
  max-height: 132px;
  overflow-y: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  left: 0;
  top: 100%;
  width: 100%;
}

.folder-suggest-item {
  padding: 6px 8px;
  cursor: pointer;
  white-space: nowrap;
  text-align: left;
  /* Added for left alignment */
}

.folder-suggest-item:hover {
  background: var(--background-secondary, #f0f0f0);
}

.main-header-title-content {
  padding: 6px 4px;
  color: var(--text-normal);
  font-size: var(--font-text-size);
  font-weight: var(--font-ui-semibold);
}

.main-header-title-separator {
  padding: 6px 4px;
  color: var(--text-faint);
  font-size: var(--font-small);
  font-weight: var(--font-ui-semibold);
}

.main-header-title-content-clickable {
  cursor: pointer;
}

.main-header-title-content-clickable:hover {
  background: var(--background-secondary-alt);
  border-radius: 4px;
}

/*
 * 卡片笔记视图
 */

.card-note-container {
  background: var(--background-secondary);
  color: var(--text-normal);
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  position: relative;
  box-shadow: 0 2px 8px #0002;
  cursor: pointer;
  width: 600px;
}

.card-note-content {
  max-height: 500px;
  overflow: hidden;
  position: relative;
  word-break: break-word;
  margin-top: 8px;
}

.card-note-content::after {
  display: none;
}

.card-note-content.card-note-content--overflow::after {
  content: '';
  display: block;
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(rgba(41, 41, 41, 0), var(--background-secondary));
}

.card-note-time {
  font-size: var(--font-ui-smaller);
  color: var(--text-faint);
  margin-right: 6px;
  white-space: nowrap;
  flex-shrink: 0;
}

.card-note-more {
  position: absolute;
  top: 12px;
  right: 16px;
}

.card-note-more-btn {
  cursor: pointer;
  padding: 2px 8px;
}

.card-note-more-menu {
  position: absolute;
  background: var(--background-secondary-alt);
  color: var(--text-normal);
  padding: 8px 12px;
  border-radius: 6px;
  box-shadow: 0 2px 8px var(--shadow-strong);
}

.card-note-tags {
  cursor: text;
  display: inline-flex;
  vertical-align: top;
  flex-wrap: wrap;
  width: 100%;
  color: var(--text-normal);
  font-size: var(--font-ui-small);
  outline: none;
  gap: var(--size-2-3);
  margin-top: 12px;
}

.card-note-tag {
  display: flex;
  align-items: center;
  background-color: var(--tag-background);
  border: var(--tag-border-width) solid var(--tag-border-color);
  border-radius: var(--tag-radius);
  color: var(--tag-color);
  cursor: var(--cursor);
  font-weight: var(--tag-weight);
  font-size: var(--font-ui-small);
  padding: var(--tag-padding-y) var(--tag-padding-x);
  line-height: 1;
  max-width: calc(100% - var(--size-2-3) - 1ch);
  gap: var(--size-2-1);
  position: relative;
  cursor: var(--cursor-link);
  white-space: nowrap;
}

/*
 * react-calendar-heatmap styles
 *
 * All of the styles in this file are optional and configurable!
 * The github and gitlab color scales are provided for reference.
 */

.react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

/*
 * Default color scale
 */

/* .react-calendar-heatmap .color-empty {
  fill: #eeeeee;
} */

.react-calendar-heatmap .color-scale-0 {
  fill: var(--background-primary-alt);
}

.react-calendar-heatmap .color-scale-1 {
  fill: #495949;
}

.react-calendar-heatmap .color-scale-2 {
  fill: #5d6e5d;
}

.react-calendar-heatmap .color-scale-3 {
  fill: #6e8b6e;
}

.react-calendar-heatmap .color-scale-4 {
  fill: #3f893f;
}

.react-calendar-heatmap text {
  fill: --var(--color-text);
  font-size: 6x;
}

.react-calendar-heatmap .color-filled {
  fill: #8cc665;
}

/*
 * Github color scale
 */

.react-calendar-heatmap .color-github-0 {
  fill: #eeeeee;
}

.react-calendar-heatmap .color-github-1 {
  fill: #d6e685;
}

.react-calendar-heatmap .color-github-2 {
  fill: #8cc665;
}

.react-calendar-heatmap .color-github-3 {
  fill: #44a340;
}

.react-calendar-heatmap .color-github-4 {
  fill: #1e6823;
}

/*
 * Gitlab color scale
 */

.react-calendar-heatmap .color-gitlab-0 {
  fill: #ededed;
}

.react-calendar-heatmap .color-gitlab-1 {
  fill: #acd5f2;
}

.react-calendar-heatmap .color-gitlab-2 {
  fill: #7fa8d1;
}

.react-calendar-heatmap .color-gitlab-3 {
  fill: #49729b;
}

.react-calendar-heatmap .color-gitlab-4 {
  fill: #254e77;
}

/*
 * 卡片笔记视图 笔记内容的渲染，需要调整obsidian原生样式
 */


/* .card-note-content p {
  font-size: 0.8rem;
  line-height: 1.2;
} */

/* .card-note-content code {
  font-size: 0.8rem;
  line-height: 1.2;
} */

/* .card-note-content div {
  font-size: 0.8rem;
} */

/* .card-note-content li {
  font-size: 0.8rem;
  line-height: 1.2;
} */

/* 
.card-note-content h1 {
  font-size: 1rem;
  line-height: 1.2;
}

.card-note-content h2 {
  font-size: 1rem;
  line-height: 1.2;
}

.card-note-content h3 {
  font-size: 1rem;
  line-height: 1.2;
}

.card-note-content h4 {
  font-size: 1rem;
  line-height: 1.2;
}

.card-note-content h5 {
  font-size: 1rem;
  line-height: 1.2;
}

.card-note-content h6 {
  font-size: 1rem;
  line-height: 1.2;
} */

/* .card-note-content a {
  pointer-events: none;
} */

.card-note-content .workspace-leaf {
  contain: initial !important;
  height: 100%;
}

.card-note-content .workspace-leaf-resize-handle {
  display: none;
}

.card-note-content .view-header {
  display: none;
}

.card-note-content .view-content {
  flex: 1;
  overflow: hidden;
  background-color: transparent !important;
}

.card-note-content .markdown-preview-view {
  padding: 0;
  overflow: hidden !important;
}

.card-note-content .modal-content {
  margin: 0;
}

.card-note-content .mod-header {
  display: none;
}

.card-note-content .markdown-preview-sizer {
  min-height: 0 !important;
  padding: 0 !important;
  margin: 0;
}

.card-note-content .markdown-preview-section {
  min-height: 0 !important;
  padding: 0 !important;
  margin: 0;
}