/* 确认弹窗 */
.confirm-modal {
    min-width: 0;
}

.confirm-container {
    padding: 12px;
}

.confirm-title {
    margin-bottom: 16px;
    font-weight: bold;
}

.confirm-desc {
    margin-bottom: 16px;
}

.confirm-btn-container {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 16px;
}

.confirm-btn-confirm {
    background: var(--interactive-accent);
    color: var(--text-on-accent);
    border: none;
    border-radius: 4px;
    padding: 4px 16px;
}

/* 标签输入框 */

.tag-input-container {
    padding: 6px 12px;
    border-radius: 8px;
    position: relative;
    background: var(--background-secondary);
}

.tag-input-inputarea {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    align-items: center;
    gap: 4px;
    row-gap: 6px;
}

.tag-input-inputarea input[type='text'] {
    border: none;
    outline: none;
    background: transparent;
}

.tag-input-inputarea input[type='text']:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.tag-input-tag-remove-btn {
    margin-left: 4px;
    cursor: pointer;
}


.tag-input-suggest {
    position: absolute;
    left: 12px;
    background: var(--background-primary);
    border: 1px solid var(--background-modifier-border);
    color: var(--text-color);
    border-radius: 6px;
    padding: 6px;
    z-index: 10;
    min-width: 240px;
    max-height: 200px;
    overflow-y: auto;
}

.tag-input-suggest-item {
    padding: 6px;
    cursor: pointer;
    border-radius: 6px;
    font-size: var(--font-small);
}

.tag-input-suggest-item-bg-normal {
    background: transparent;
}

.tag-input-suggest-item-bg-highlight {
    background: var(--background-primary-alt);
}

.tag-input-tag {
    display: flex;
    align-items: center;
    background-color: var(--tag-background);
    border: var(--tag-border-width) solid var(--tag-border-color);
    border-radius: var(--tag-radius);
    color: var(--tag-color);
    font-weight: var(--tag-weight);
    font-size: var(--font-ui-smaller);
    padding: var(--tag-padding-y) var(--tag-padding-x);
    line-height: 1;
    max-width: calc(100% - var(--size-2-3) - 1ch);
    gap: var(--size-2-1);
    position: relative;
    cursor: var(--cursor-link);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 标签过滤视图 */

.tag-filter-view {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.tag-filter-row {
    display: flex;
    align-items: center;
}

.tag-filter-label {
    margin-right: 12px;
    width: 60px;
    display: inline-block;
}

.tag-filter-button {
    margin-left: 12px;
    padding: 0px 12px;
}

.tag-filter-notag-container {
    display: flex;
    align-items: baseline;
}

.tag-filter-checkbox {
    vertical-align: middle;
}

.tag-filter-checkbox-label {
    margin-left: 4px;
    margin-right: 12px;
}